$black: #2B2E30;
$white: #FFFFFF;
$light-green: #59BB6F;
$light-green-two: #E6F5EA;
$green: #007F1D;
$dark-green: #2A743B;
$dark-white: #F9F9F9;
$light-gray: #C0C4C6;
$light-red: #F8D9DD;
$red: #D0021B;